body
{
    background-image: white;
    color: blue;    
    margin: 0;
}
.titulo
{
    color: Red;
    text-align: center;
    text-shadow: black 2px 2px 4px;
}
.container
{
    border-radius: 5px;
    margin: 10px 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: solid;
    font-size: 18px;
}

.entradas
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}